<!-- activities intranet -->
<div class="activities-header">
  <div class="header-img" style="--img: url({{url}})">
    <div class="content">
      <h2 class="m-0 text-white fw-bold">{{site}}</h2>
      <p class="m-0 text-white fw-bold">Location: {{city}}</p>
    </div>
  </div>
</div>

<div class="activities-body">
  <div class="title text-center fw-bold text-white">WHAT'S NEWS</div>
  <div class="whats-new-intranet container-fluid">
    <div class="row d-flex">

      {{#each contents}}

      <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="row content-news">
          <!-- image content -->
          <div class="col-3 news-img p-0">
            <a href="content/{{this.id_content}}">
              <img class="object-fit-cover" src={{this.content_images}}>
            </a>
          </div>
          <!-- body content -->
          <div class="col-9 news-content position-relative text-justify">
            <a href="content/{{this.id_content}}" class="text-black text-decoration-none">
              <h5 class="m-0">{{this.title}}</h5>
            </a>
            <div class="m-0 content_area">{{{this.content}}}</div>
            <i class="text-light-emphasis position-absolute">Posted: {{this.poster}} | {{this.date_time}} |
              {{this.poster_site}}</i>
          </div>
        </div>
      </div>

      {{/each}}

    </div>
  </div>
</div>