<!-- activities intranet -->
<div class="activities-header">
  <div class="header-img" style="--img: url({{url}})">
    <div class="content">
      <h2 class="m-0 text-white fw-bold">{{site}}</h2>
      <p class="m-0 text-white fw-bold">Location: {{city}}</p>
    </div>
  </div>
</div>

<div class="activities-body">
  {{!-- <div class="backButton ms-4">
    <i class="fa-solid fa-left-long"></i>
  </div> --}}
  <button class="backButton" style="margin-left: 1rem;">
      <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
      <span>Back</span>
  </button>
  <div class="title text-center fw-bold text-white">WHAT'S NEWS</div>
  <div class="whats-new-intranet container-fluid">
    <div class="row d-flex">

      {{#each contents}}

        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="row content-news" style="cursor: pointer" onClick="window.location.href='content/{{this.id_content}}'" >
            <!-- image content -->
            <div class="col-3 news-img p-0">
              <a href="content/{{this.id_content}}">
                <img 
                  class="object-fit-cover" 
                  src="{{#if this.content_images}}{{this.content_images}}{{else}}/imgs/qsl-sample-pic.png{{/if}}" 
                  onerror="this.onerror=null; this.src='/imgs/qsl-sample-pic.png';" 
                />
              </a>
            </div>
            <!-- body content -->
            <div class="col-9 news-content position-relative text-justify">
              <a
                href="content/{{this.id_content}}"
                class="text-black text-decoration-none"
              >
                <h5 class="m-0">{{this.title}}</h5>
              </a>
              <div class="m-0 content_area">{{{this.content}}}</div>
              <i class="text-light-emphasis position-absolute">
                {{this.poster}}
                |
                {{this.date_time}}
                |
                {{this.poster_site}}</i>
            </div>
          </div>
        </div>

      {{/each}}

    </div>
  </div>
</div>