<!-- manage-posts-intranet -->
<div class="manage-users manage-posts container-fluid">
  <div style="display: flex; justify-content:space-between" class="mb-2">
    <h5>Manage Users</h5>
    <div>
      <button class="refesh_manage btn btn-warning">Refresh</button>
      <button
        class="update_manage btn btn-success mx-3"
        disabled
      >Update</button>
    </div>
  </div>

  <table class="table datatable" style="border: 1px solid black; width: 100%;">
    <thead>
      <tr>
        <th class="fullname">Full Name</th>
        <th class="email">Email</th>
        <th class="role">Role</th>
        <th class="department">Department</th>
        <th class="position">Position</th>
        <th class="site">Site</th>
        <th class="address">Address</th>
        <th class="officeNumber">Office</th>
        <th class="isResetPassword">Reset Password</th>
        <th class="isActived">Actived</th>
        <th class="select">Select</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {{#each result}}
        <tr>
          <td class="fullname">{{this.fullname}}</td>
          <td class="email">{{this.email}}</td>
          <td class="role">
            <span>{{this.user_role}}</span>
            <div style="display: none;">
              <select id="roleList">
                <option value="Super Admin">Super Admin</option>
                <option value="Admin">Admin</option>
                <option value="Member">Member</option>
                <option value="HR">HR</option>
              </select>
            </div>
          </td>
          <td class="department">{{this.department}}</td>
          <td class="position">{{this.position}}</td>
          <td class="site">
            <span>{{this.user_working_site}}</span>
            <div style="display: none;">
              <select id="siteList">
                <option value="Australia">Australia</option>
                <option value="Thailand">Thailand</option>
                <option value="NewZealand">NewZealand</option>
                <option value="Philippines">Philippines</option>
                <option value="Vietnam">Vietnam</option>
              </select>
            </div>
          </td>
          <td class="address">{{this.user_address}}</td>
          <td class="phone_number">{{this.office_phone_number}}</td>
          <td class="is_reset_password">{{this.user_password}}</td>
          <td class="is_activated">{{this.isActived}}</td>
          <td class="btn_container">
            <button
              type="button"
              class="btn edit_user_Btn btn-primary btn-sm d-flex"
            >Edit</button>
            {{! <button
              type="button"
              class="btn hideBtn btn-secondary btn-sm"
            >Hide</button> }}
            {{#if this.isActived}}
              <button
                type="button"
                class="btn toggleActiveBtn btn-danger btn-sm"
                hidden
              > Deactivated</button>
            {{else}}
              <button
                type="button"
                class="btn toggleActiveBtn btn-success btn-sm"
                hidden
              > Activated</button>
            {{/if}}
            {{#if this.user_password}}
              <button
                type="button"
                class="btn resetBtn btn-success btn-sm"
                hidden
              >Reset Password</button>
            {{else}}
              <button
                type="button"
                class="btn resetBtn btn-danger btn-sm"
                hidden
              >Reset Password</button>
            {{/if}}

          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! <div class="modal_formanageUser text-center bg-white">
  <i class="fa-solid fa-circle-exclamation text-danger"></i>
  <h3 class="title_for_manageUser">Confirm</h3>
  <p class="title_for_manageUser">Are you sure want to delete this Picture?</p>
  <div class="btn_container">
    <button class="yesBtn_for_manageUser btn btn-primary">Yes, Delete!</button>
    <button class="cancelBtn_for_manageUser btn btn-danger ms-2">Cancel</button>
  </div>
</div> }}